.login-container {
    margin: 0;
    top: 0;
    position: absolute;
    height:100%;
    width:100%;
}

.login-form-container {
    position:relative;
    left:35%;
    top:15%;
    height:43vh;
    border:1px solid #ccc;
    width:25%;
    padding:2%;
}

.login-form-logo-container {
    position:relative;
    left:33%;
}

.login-form-logo-container img {
    width: 35%;
}

.login-form-app-title-container {
    position: relative;
    text-align: center;
    font-size:1.7vh;
}

.login-form-main-container {
    position:relative;
    top:10%;
}