.dashboard-main-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));*/
    grid-auto-rows: 340px;
    overflow-y: auto;
    /* max-height: 90svh;*/
}

.widget-wide {
    grid-column: span 2 / auto;
}

.widget-tall {
    grid-row: span 3 / auto;
}

.widget {
    display: flex;
    flex-direction: column;
    /* justify-content: center;*/
    /* align-items: center;*/
    background: #ccc;
    color: #353535;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.widget-title {
    font-size:1rem;
    text-align: center;
    margin-top: 1rem;
}

.widget-body {
    padding : 1rem;
}
.widget-body-pie{
    height:80%;
    margin: auto;
}

/*.widget:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 }*/